<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.apache.synapse.iso8583.poll.class/src/main/java/org/wso2/carbon/inbound/iso8583/poll/BuildISO8583Message.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.wso2.carbon.inbound.iso8583.poll.BuildISO8583Message"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.apache.synapse.iso8583.poll.class"/>
</launchConfiguration>
